<H1>Wikipedia Data Scrape and DataFrame Definition</H1>

<h3>Importing Required Libraries</h3>

In [148]:
#importing required libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
!pip install lxml
print("Librarires Imported")

Requirement already satisfied: lxml in c:\users\iskus\appdata\local\continuum\anaconda3\lib\site-packages (4.2.5)
Librarires Imported

<h3>Data Download and DataFrame Creation</h3>

In [149]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [150]:
soup = BeautifulSoup(source,'lxml')
#print(soup.prettify())

In [151]:
table = soup.find('table',{'class':'wikitable sortable'})
#table

In [152]:
data = []
table_data = table.findAll('td')
for a in table_data:
    data.append(a.text)

In [153]:
#to remove \n, strip function taken from source : https://stackoverflow.com/questions/3849509/how-to-remove-n-from-a-list-element
data = list(map(str.strip,data))
#data

In [154]:
#assigning the data into relevant columns using slicing
Postcode = data[0:-1:3]
Borough = data[1:-1:3]
Neighborhood = data[2::3]

In [155]:
#creating a DataFrame from the obtained table
df_data = {'Postcode':Postcode,'Borough':Borough, 'Neighborhood':Neighborhood}
df = pd.DataFrame(df_data)

In [156]:
df.head(10)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

<h3>Data Preprocessing</h3>

<h4>Removing Not Assigned data columns, and grouping data with same postcodes</h4>

In [157]:
df = df[df.Borough != 'Not assigned']
df.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [158]:
df.loc[df.Neighborhood == 'Not assigned','Neighborhood'] = df['Borough']
df.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [159]:
final_df = df.groupby(['Postcode','Borough'],sort = False).agg(','.join)
final_df = final_df.reset_index()
final_df.head(10)

  Postcode           Borough                     Neighborhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park
5      M9A  Downtown Toronto                     Queen's Park
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

In [160]:

final_df.shape

(103, 3)